<a href="https://colab.research.google.com/github/andylee12/Introduction-to-Computers/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")

Hello

In [2]:
a = 456
b = 798
print(a + b)

1254

In [3]:
a = [1, 2, 3 ]
b = a* 3 
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
a = ["apple", "orange", "banana"]
a.reverse()
for a in a : 
  print(a)

banana
orange
apple

In [9]:
def sum():
  sum = 0
  for n in range(1, 101):
    sum = sum + n
  return sum
print(sum())

5050

In [11]:
num = int(input())
if (num % 2 == 0):
  print(str(num) + " is even")
elif (num % 2 == 1):
  print(str(num) + " is odd")
else:
  print("input error")

110
110 is odd

In [15]:
month = int(input())
if 1 <= month <= 3:
  print(str(month) + " is spring")
elif 4 <= month <= 6:
  print(str(month) + " is summer")
elif 7 <= month <= 9:
  print(str(month) + " is autumn")
elif 10 <= month <= 12:
  print(str(month) + " is winter")
else:
  print("input error")

5
5 is summer

In [18]:
km = int(input())
if 0 <= km <= 5:
  print("240 yuan")
elif km >= 5:
  price = (km - 5) * 40 + 240
  print(str(price) + " yuan")
else:
  print("input error")

10
440 yuan

In [19]:
year = int(input())
n = 100000 * (1 + 0.03)**year
print(n)

5
115927.40743

In [21]:
num = input()
print(min(list(map(int, num.split()))))

6 2 8
2

In [24]:
try: 
  while True:
    n = int(input())
    if (n <= 0):
      break
    else:
      for i in range(1, n + 1):
        if (n % i == 0):
          print(i, end = "")
    print("")
except:
  pass

20
12451020
-5

In [27]:
a = int(input())
sum = 0
for i in range(1, a):
  if i % 3 == 0 or i % 7 == 0:
    sum += i
print(str(sum))

50
541