<a href="https://colab.research.google.com/github/andylee12/Introduction-to-Computers/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
[1, 2, 3 ]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
month = int(input())
if (1 <= month <= 3):
  print(str(month )+ " is spring")
elif (4 <= month <= 6):
  print(str(month) + " is summer")
elif (7 <= month <= 9):
  print(str(month )+ " is autumn")
elif (10 <= month <= 12):
  print(str(month) + " is winter")
else:
  print("Input Error")

5
5 is summer

In [4]:
print("1, 2, 3, " * 3)

1, 2, 3, 1, 2, 3, 1, 2, 3,

In [ ]:
print("1, 2, 3, " * 3)

1, 2, 3, 1, 2, 3, 1, 2, 3,

In [ ]:
a = 'abcdef'
b = list(a)
b.reverse()
b = ''.join(b)
print(b)

fedcba

In [ ]:
def sum():
    sum = 0
    for n in range(1,101):
        sum = sum + n
    return sum

print(sum())

5050

In [ ]:
km = int(input("km: "))
if km == 0:
	print("price is 0 yuan")
elif 5 >= km >= 1:
	print("price is 240 yuan")
elif km >= 5:
	print((km - 5 * 40) + 240 + )
else:
  print('Input Error')

km: 6
46

In [6]:
a =["bonny","jack","rose"] 
a.reverse()
for a in a : 
  print(a)

rose
jack
bonny

In [37]:
num = int(input())
if (num % 2 == 0):
  print(str(num) + " is odd")
else:
  print(str(num) + " is even")

5
5 is even

In [40]:
num = int(input())
if (num % 2 == 0):
	print(str(num) + " is even")
elif (num % 2 == 1):
	print(str(num) + " is odd")
else:
  print("Input Error")

10
10 is even

In [43]:
num = float(input())
print(max(list(map(int, num.split()))))

10.3 30.9 20.8

ValueError: ignored

In [30]:
my_func = input("輸入一個字: ")
def my_func(st):

    res = []
    for index, c in enumerate(st):
        if index % 2 == 0:
            res.append(c.upper())
        else:
            res.append(c.lower())
    return ''.join(res)
print(my_func)

輸入一個字: abcd
<function my_func at 0x7f93803805e0>

In [57]:
side1=eval(input())
side2=eval(input())
side3=eval(input())

if (side1+side2)>side3 and (side2+side3)>side1 and (side1+side3)>side2:
    print("Valid")
else:
    print('Invalid')

5
2
1
Invalid

In [25]:
side1=eval(input())
side2=eval(input())
side3=eval(input())
a =["side1" + "side2" + "side3"] 
a.reverse()
print(a)

a b c

SyntaxError: ignored

In [27]:
list123 = list(map(int, input().split()))
list123.reverse()
print(list123)

1 2 3
[3, 2, 1]

In [34]:
num = input("請輸入三個數: ")
print(min(list(map(int, num.split()))))

請輸入三個數: 6 2 5
2

In [47]:
a = int(input())
for i in range(1, a+1):
  for j in range(1, i+1):
    if (i == j):
      print(j)
    else:
		  print(j, end="")

TabError: ignored

In [53]:
list123 = list(map(int,input().split()))
list123.reverse()
print(list123)

 5 6 7
[7, 6, 5]